*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* background-color: #1A0B2E; */
    color: #FFFFFF;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared styles */

.display-flex{
    display: flex;
}

.navbar, .podcast-container, .counters-container,
.choose-title, .choose-content,.host-container, .feature-container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    color: #FFFFFF;
    font-weight: 600;
    padding: 13px 18px;
    border-radius: 10000px;
    background-color: purple;
    background-image: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    border: none;
    text-align: center;
    cursor: pointer;
}
/* commom color */
.titles{
    color: rgb(194, 182, 182);
}

/* title styles */

.podcast-title, .choose-title, .feature-title, .host-title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}


/* Start Animation style  */

@keyframes  {
    
}
.counters-containe{
    
}

/* End Animation style */

/* Others styles */

/* navber designed */

nav{
    border-bottom: 1px solid rgba(36, 33, 33, 1);
    padding: 24px;
    background-color: #1A0B2E;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    

}

.logo{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 300;
}


.menu ul{
    list-style: none;
    gap: 30px;
}
.menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}
.menu ul li a:hover{
    color: #9100F8;
}
.primary-btn .btn:hover{
    background-color: #007B70;
    background-image: linear-gradient(to bottom right, #007B70, #ECF955);
}


/* hero section */
.bannar{
    background-color: #1A0B2E;
    
    
}
.hero-container{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.techwave{ 
    flex-direction: column;
    gap: 50px;

}

.new{
    background-color: #00FF88;
    box-shadow: 0 0 10px 1px #0c7a47;
    display: inline-block;
    border-radius: 25px;
    padding: 6px 12px;
    color: black;

}
.new{
    position: relative;
    left: 260px;
    top: 50px;
}
.hero-circle{

    justify-content: center;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.microphone{
    position: relative;
    bottom: 270px;
    left: 116px;
}

.hero-content{
    max-width: 550px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.hero-title{
    font-size: 3.8rem;
    font-weight: 800;
}

.hero-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

#btn-1{
    gap: 8px;
}
#btn-1:hover{
    background-color: #1A0B2E;
    border: 1px solid #FFFFFF;
    background-image: none;
    
}
#btn-2{
    border: 1px solid #00FF88;
    background-color: #1A0B2E;
    background-image: none;
    color: #00FF88;
}

#btn-2:hover{
    background-color: #00FF88;
    background-image: linear-gradient(to top right, #015f57, #098d82, #ECF955);
    color: #FFFFFF;

    
}

/* About the podcast section */

.about-section{
    background-color: #1A0B2E;
}
.podcast-container{
    text-align: center;
    padding-top: 50px;
}

.podcast-description{
    line-height: 30px;
    font-weight: 200;
    margin-top: 24px;
    margin-bottom: 50px;
    
}
.podcast-text{
    font-weight: 200;
}
#hr{
    border: 1px solid rgba(36, 33, 33, 1);
    margin-top: 80px;

}

.counters-container{
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 120px;
}
.counter-title{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.counter-text{
    line-height: 20px;

}

.whyChoose{
    background-color: #230E3D;
    padding: 120px 0;
    
}



.choose-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 225px) 280px;
    gap: 30px;
    margin-top: 40px;
    /* border: 1px solid white; */
}
.why-card{
    background-color: rgba(54, 21, 100, 0.4);
    padding: 40px;
    /* border: 1px solid red; */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
.card-description{
    margin-top: 20px;
    line-height: 24px;
    color: rgb(194, 182, 182)
}
.big-card{
    grid-column: span 1;
    grid-row: span 2;
    
}
.wide-card{
    grid-column: span 2;
    grid-row: span 1;
}

/* Features Episodes section */
.feature-section{
    background-color: #1A0B2E;
    padding-top: 120px;
}

.feature-content{
    margin-bottom: 40px;
}
.feature-card-info{
    gap: 30px;
}

.feature-card{
    background-color: #250D44;
    border-radius: 15px;
    height: 445px;
    width: 380px;
}
.feature-cd-content{
    padding: 24px;
}

.feature-card-title{
    font-size: 1.5rem;
    margin-bottom: 16px;
}

.feature-cd-text{
    line-height: 24px;
    margin-bottom: 16px;
    color: rgb(194, 182, 182);
}

.feature-cd-bottom ul{
    display: flex;
    gap: 10px;
    align-items: center;
}
.feature-cd-bottom ul li{
    list-style: none;
}
.feature-cd-bottom ul li img{
    margin-top: 5px;
}

#min{
    color: #00FF88;
    font-weight: 600;
    
    /* background-color: aqua; */
}



/* Meet the host section */

.host-section{
    background-color: #1A0B2E;
    padding: 120px 0;
}

.host-box{
    gap: 24px;
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    margin-top: 40px;
}
.host-info-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.host-description{
    color: rgb(194, 182, 182);
    line-height: 24px;
    margin-bottom: 16px;
}

.socialmedia-icon{
    
}
.socialmedia-icon ul{
    gap: 20px;
    flex-wrap: wrap;
    
    
}
.socialmedia-icon ul li{
    list-style: none;
    height: 40px;
    width: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia-icon ul li a{
    text-decoration: none;
}
.socialmedia-icon ul li:hover{
    background-color: #5a5959;
    
}


/* Footer section */

.footer-section{
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 120px 0;
}
.footer-container{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.platform-container{
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}
.platform{
    display: flex;
    gap: 10px;
}

.span-text{
    color: rgb(194, 182, 182);
}

.copyright{
    margin-top: 32px;
}
.copyright .copy{
    color: rgb(194, 182, 182);
}

/* @media screen and (max-width:576px) {
    nav{
         padding: 10px;
    }
    
} */