*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* background-color: #1A0B2E; */
    color: #FFFFFF;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared styles */

.display-flex{
    display: flex;
}

.navbar, .podcast-container, .counters-container,
.choose-title, .choose-content {
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    color: #FFFFFF;
    font-weight: 600;
    padding: 13px 18px;
    border-radius: 10000px;
    background-color: #9417ec;
    border: none;
    text-align: center;
    cursor: pointer;
}

/* Start Animation style  */

@keyframes  {
    
}
.counters-containe{
    
}

/* End Animation style */

/* Others styles */

/* navber designed */

nav{
    border-bottom: 1px solid rgba(36, 33, 33, 1);
    padding: 24px;
    background-color: #1A0B2E;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    

}

.logo{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 300;
}
#wave{
    color: #9100F8;
}


.menu ul{
    list-style: none;
    gap: 30px;
}
.menu ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}
.menu ul li a:hover{
    color: #9100F8;
}
.primary-btn .btn:hover{
    background-color: rgb(175, 175, 49);
}


/* hero section */
.bannar{
    background-color: #1A0B2E;
    
    
}
.hero-container{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.techwave{
    
    flex-direction: column;
    gap: 50px;

}


.hero-circle{

    justify-content: center;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.hero-content{
    max-width: 550px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.hero-title{
    font-size: 3.8rem;
    font-weight: 800;
}

.hero-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}


#btn-1:hover{
    background-color: #1A0B2E;
    border: 1px solid #FFFFFF;
}
#btn-2{
    border: 1px solid #00FF88;
    background-color: #1A0B2E;
    color: #00FF88;
}

#btn-2:hover{
    background-color: #00FF88;
    color: #FFFFFF;

    
}

/* About the podcast section */

.about-section{
    background-color: #1A0B2E;
}
.podcast-container{
    text-align: center;
    padding-top: 50px;
}
.podcast-title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
}
.podcast-description{
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 50px;
    
}
.podcast-text{
    font-weight: 200;
}
#hr{
    border: 1px solid rgba(36, 33, 33, 1);
    margin-top: 80px;

}

.counters-container{
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 120px;
}
.counter-title{
    font-size: 3rem;
    font-weight: black;
    color: #00FF88;
}
.counter-text{
    line-height: 20px;

}

.whyChoose{
    background-color: #230E3D;
    padding: 120px 0;
    
}

.choose-title{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.choose-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 225px) 280px;
    gap: 30px;
    margin-top: 40px;
    /* border: 1px solid white; */
}
.why-card{
    background-color: rgba(54, 21, 100, 0.4);
    padding: 40px;
    /* border: 1px solid red; */
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}
.card-description{
    margin-top: 20px;
    line-height: 24px;
}
.big-card{
    grid-column: span 1;
    grid-row: span 2;
    
}
.wide-card{
    grid-column: span 2;
    grid-row: span 1;
}


/* @media screen and (max-width:576px) {
    nav{
         padding: 10px;
    }
    
} */